div{width:300px;height:200px;margin:20px;
	display:inline-block;
	border:1px solid #000;
}
.colombia{
	background-image:linear-gradient(yellow 33%, blue 33%, blue 66.66%, red 66.66%);
}

.francia{
	background-image:linear-gradient(90deg,red 33%, white 33%, white 66.66%, blue 66.66%);
}

.italia{
	background-image:linear-gradient(90deg, green 33%, white 33%, white 66.66%, red 66.66%);
}

.alemania{
	background-image:linear-gradient(black 33%, red 33%, red 66.66%, yellow 66.66%);
	color:#fff;
}

.japon{
	background-image:radial-gradient(circle, red 33%, white 33%, white);
}

.polonia{
	background-image:linear-gradient(white 50%, red 50%, red);
}
.españa { background-image:linear-gradient(red 25%, yellow 25%, yellow 75%,red 75%) ;

}


/* Barra de navegación para la pagina*/

.navegacion{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 100%;
    background: #fce4c2;
    font-size: 20px;
  }
  
  .navegacion ul{
    list-style: none;
  }
  
  .menu > li{
    position: relative;
    display: inline-block;
  }
  
  .menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: 'Open sans';
    text-decoration: none;
  }
  
  .menu li a:hover{
    color: #CE7D35;
    transition: all .2s;}