div {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    background: gray;
    width: 900px;
  
}
.imagen {background-image: url('../logo.png');

}

table {
  color: black;
  text-align: center;
  border-collapse: collapse;
  width: 800px;
  height: 800px;
  margin: auto auto;
  background-image: url('logo.png');
  
}

td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;

}



.bases {
    background-color: rgba(255, 147, 139, 0.2);
}
.redes {
    background-color: rgba(248, 250, 111, 0.2);
}
.fol {
    background-color: rgba(109, 243, 198, 0.2);
}
.iso {
    background-color: rgba(153,50,204, 0.2);
}
.lm {
    background-color: rgba(255,0,0, 0.2);
}
.fuh {
    background-color: rgba(255,184,28, 0.2);
}

.recreo {
    background: radial-gradient(rgba(75, 75, 243, 0.2) 20%, rgba(0, 255, 0, 0.2) 40%, rgba(153,50,204, 0.5) 60%, rgba(255,0,0, 0.2) 80%, rgba(140, 247, 149, 0.5) 100%);
}




.navegacion{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 100%;
    background: #fce4c2;
    font-size: 20px;
  }
  
  .navegacion ul{
    list-style: none;
  }
  
  .menu > li{
    position: relative;
    display: inline-block;
  }
  
  .menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: 'Open sans';
    text-decoration: none;
  }
  
  .menu li a:hover{
    color: #CE7D35;
    transition: all .2s;}