
body {
    background: #696969 url('./imagenes_suzuki/bg_page.png') repeat-y fixed center;
    
   
}

#pagina {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
}

.moto {
 
    display:flex;
    justify-content: center;
    width: auto;

}

img { border: 3px solid black;

}



h1 {
    color: rgba(221, 27, 27, 0.658);
    text-align: center;
    font-family: "Calibri";
    
}

h2,h3 {
    text-align: left;
    font-family: "Calibri";
}

ul{
    list-style-image: url(./imagenes_suzuki/icono.ico);
}

p {
    font-size: 18px;
    color: gray;
    font-family: "Calibri";
}

/* Barra de navegación para la pagina*/

.navegacion{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background: #fce4c2;
    font-size: 20px;
  }
  
  .navegacion ul{
    list-style: none;
  }
  
  .menu > li{
    position: relative;
    display: inline-block;
  }
  
  .menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: 'Open sans';
    text-decoration: none;
  }
  
  .menu li a:hover{
    color: #CE7D35;
    transition: all .2s;}

